<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Note app</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li>
                  <h3>Select</h3>
               </li>
               <li>
                  <h3>Select All</h3>
               </li>
               <li>
                  <h3>Delete</h3>
               </li>
            </ul>
         </nav>
      </header>
      <main>
         <section id="adding-note">
            <article>
               <form action="">
                  <input type="text" />
                  <textarea name="" id="" cols="30" rows="10"></textarea>
               </form>
            </article>
         </section>
         <section id="display-note"></section>
      </main>
   </body>
</html>
