<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="styles/styles.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans&family=Noto+Sans:wght@300&family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Pacifico&family=Poppins&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap"
         rel="stylesheet"
      />
      <script src="app/config.js" defer></script>
      <title>Note app</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li id="cancel-li">
                  <h3 id="cancel-button">Cancel</h3>
               </li>
               <li id="select-li">
                  <h3 id="select-button">Select</h3>
               </li>
               <li id="select-all-li">
                  <h3 id="select-all-button">Select All</h3>
               </li>
            </ul>
         </nav>
      </header>
      <main>
         <section id="section1">
            <article>
               <form id="adding-note" action="/note" method="post">
                  <div>
                     <input type="text" placeholder="title.." id="adding-title" name="title" required />
                     <textarea
                        id="adding-textarea"
                        cols="100"
                        rows="5"
                        placeholder="description.."
                        name="description"
                        required
                     ></textarea>
                  </div>
                  <button id="add-button">+ Add</button>
               </form>
            </article>
         </section>
         <section id="display-note">
            <form action="/deleting" method="post">
               <ul>
                  <% if(noteStored.length != 0) {%> <% for(let item of noteStored) { %>
                  <li>
                     <div>
                        <input
                           type="checkbox"
                           class="display-checkbox"
                           value="<%=item.title%>"
                           name="indexNumber"
                        />
                     </div>
                     <article class="display-card">
                        <h2><%= item.title %></h2>
                        <h3><%= item.description %></h3>
                     </article>
                  </li>
                  <% } %> <% } %>
               </ul>
               <button type="submit">delete the card</button>
            </form>
         </section>
      </main>
   </body>
</html>
