<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/Note-Pad/styles/styles.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans&family=Noto+Sans:wght@300&family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Pacifico&family=Poppins&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap"
         rel="stylesheet"
      />
      <title>Note app</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li>
                  <h3>Select</h3>
               </li>
               <li>
                  <h3>Select All</h3>
               </li>
               <li>
                  <h3>Delete</h3>
               </li>
            </ul>
         </nav>
      </header>
      <main>
         <section id="adding-note">
            <article>
               <form action="">
                  <input type="text" placeholder="title" id="adding-title" />
                  <textarea
                     name=""
                     id="adding-textarea"
                     cols="50"
                     rows="6"
                     placeholder="description"
                  ></textarea>
               </form>
               <h2 id="add-button">+ add</h2>
            </article>
         </section>
         <section id="display-note">
            <ul>
               <form action="">
                  <li>
                     <input type="checkbox" />
                     <article>
                        <h2>---</h2>
                        <h3>------</h3>
                     </article>
                  </li>
               </form>
            </ul>
         </section>
      </main>
   </body>
</html>
