body {
   font-family: "Poppins", sans-serif;
   background-color: rgb(250, 183, 159);
   margin: 0;
   padding: 0;
}
li {
   list-style: none;
}
nav {
   border: 0.5px solid black;
}
nav ul {
   display: flex;
   justify-content: right;
   width: 95%;
}
nav ul li {
   margin: 0 1rem;
}
#adding-note {
   display: flex;
   justify-content: center;
   text-align: center;
   width: 80%;
   margin: 0 auto 0;
   border: 1px solid black;
}
#adding-note form {
   width: 30rem;
   border: 1px solid black;
}
#adding-title {
   display: flex;
   height: 3.5rem;
   width: 100%;
}
#adding-textarea {
   height: 10rem;
   width: 100%;
}
