#config-overlay {
   text-align: center;
}
#config-overlay h2 {
   margin: 0.5rem 0;
}

#opponent-selection ul {
   width: 65%;
   list-style: none;
   display: flex;
   text-align: center;
   margin: 0 auto;
   padding: 0;
}
#opponent-selection ul li {
   margin: 1rem;
   padding: 1rem;
   width: 90%;
   border-radius: 5px;
   background-color: rgb(243, 227, 255);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   align-items: center;
   transition: background-color 0.3s ease-out;
}
#opponent-selection ul li:hover {
   background-color: rgb(229, 208, 243);
   cursor: pointer;
}

#opponent-selection h1 {
   font-size: 1.5rem;
   color: rgb(94, 4, 168);
   padding: 1.5rem;
}

.form-control {
   margin: 0.5rem 0;
}
.form-control label {
   display: block;
   margin: 0.5rem 0;
}
.form-control input {
   font: inherit;
   border: 1px solid rgb(204, 204, 204);
   width: 15rem;
}
#CPU-configuration {
   width: 90%;
   max-width: 40rem;
   margin: 3rem auto;
   text-align: center;
   display: none;
}
#CPU-configuration ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}
#CPU-configuration ul li {
   margin: 1rem;
   padding: 1rem;
   width: 50%;
   background-color: rgb(243, 227, 255);
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#CPU-configuration ul li:hover {
   background-color: rgb(229, 208, 243);
   cursor: pointer;
}

#CPU-configuration ul li h1 {
   font-size: 2.5rem;
   color: rgb(94, 4, 168);
}
#CPU-configuration li.markedCPU {
   background-color: rgb(75, 40, 75);
   color: white;
}
#CPU-configuration li.markedCPU:hover {
   background-color: rgb(75, 40, 75);
   cursor: default;
}

#maintainence {
   display: none;
}

#game-configuration {
   width: 90%;
   max-width: 40rem;
   margin: 3rem auto;
   text-align: center;
   display: none;
}
#game-configuration ol {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}
#game-configuration ol li {
   margin: 1rem;
   padding: 1rem;
   width: 50%;
   background-color: rgb(243, 227, 255);
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#game-configuration ol li h2 {
   font-size: 1rem;
   margin: 0.5 0;
}
#game-configuration ol li h3 {
   font-size: 1.5rem;
   margin: 0.5rem 0;
   color: rgb(94, 4, 168);
}
.player-symbol {
   font-size: 2rem;
   font-weight: bold;
   color: rgb(53, 11, 53);
   margin: 0.5rem 0;
}
.error input {
   border-color: rgb(136, 2, 2);
   color: rgb(136, 2, 2);
   background-color: lightcoral;
}
#config-error {
   color: rgb(136, 2, 2);
}

@media (max-width: 45rem) {
   #opponent-selection ul {
      width: 100%;
      list-style: none;
      display: flex;
      text-align: center;
      margin: 0 auto;
      padding: 0;
   }
}
