#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}
#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgb(75, 40, 75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
  display: none;
}
#game-over h3 {
  font-size: 2.8rem;
  margin: 0.5rem 0;
}
#active-player-name {
  font-weight: bold;
  color: rgb(50, 5, 87);
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  justify-content: center;
  gap: 0.5rem;
}
#game-board li {
  background-color: rgb(215, 189, 249);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: background-color 0.3s ease-out 0.065s;
}

#game-board li:hover {
  background-color: rgb(76, 63, 142);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#game-board li.disabled {
  background-color: rgb(76, 63, 142);
  cursor: default;
  color: white;
}
#game-board li.disabled:hover {
  box-shadow: none;
}
#game-board li.marked {
  background-color: rgb(75, 40, 75);
}
