body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: rgb(44, 35, 44);
  background-color: rgb(247, 239, 247);
}
#menu-back-button {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
  color: rgb(94, 4, 168);
  background-color: rgb(243, 227, 255);
  border-radius: 0 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 0;
}
#menu-back-button:hover {
  cursor: pointer;
  background-color: rgb(229, 208, 243);
}
#main-header {
  text-align: center;
  padding: 2rem 5%;
  background-color: rgb(81, 30, 123);
  color: white;
  border: 1px solid black;
}

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(140, 0, 255);
  border: 1px solid black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.button-alt {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgb(140, 0, 255);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(69, 12, 117);
  border-color: rgb(69, 12, 117);
}
.button-alt:hover {
  background-color: rgb(232, 229, 229);
}
