#champions {
  color: rgb(189, 189, 238);
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 13px;
}
#champions:hover {
  text-shadow: 1px 2px 5px rgb(15, 12, 12);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
header ul {
  margin: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul li {
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  padding: 0.9rem;
}
header li:hover {
  text-shadow: 1px 2px 5px rgb(15, 12, 12);
}
header a {
  color: rgb(189, 189, 238);
}
.arrow {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  font-size: 3rem;
  display: none;
  font-weight: bolder;
}
.arrow p {
  margin: 0;
}
#drawer {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(120deg, rgb(8, 25, 49), black);
  display: flex;
  justify-content: center;
  display: none;
}
#drawer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  padding: 5rem;
  color: aliceblue;
  font-size: 2rem;
}
#drawer ul a {
  color: aliceblue;
}
#drawer:target {
  display: block;
}
#drawer header {
  justify-content: right;
}
#drawer .arrow {
  transform: scaleX(-1);
}

#drawer:target - .UCL-ground {
  display: none;
}

.UCL-ground {
  background-image: url("/Football-stadium/pics/ucl.jpg");
  height: 56rem;
  background-position: center;
  background-size: cover;
}
.UCL-ground div {
  background-color: rgba(5, 58, 88, 0.5);
  box-shadow: 2px 2px 30px black;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40%;
  width: 41rem;
  height: 17rem;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}
.UCL-ground div h3 {
  font-family: "Firo sans", serif;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.UCL-ground div a {
  font-family: "Dancing Script", cursive;
  color: rgb(221, 236, 255);
  font-size: 2.2rem;
  width: 10rem;
  margin: 0 auto;
}
.UCL-ground div a:hover {
  color: brown;
  text-shadow: 1px 1px 2px rgb(26, 26, 26);
}

main {
  background: linear-gradient(120deg, rgb(8, 25, 49), black);
}
main h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding: 30px 0 0 0;
}
main h3 {
  font-family: "Pacifico", cursive;
}
main a {
  color: rgb(205, 45, 45);
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
}
main ul {
  padding: 2rem 1.5rem 0.6rem 1.3rem;
  width: 60rem;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}
main ul li {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 8px rgb(41, 38, 38);
  border-radius: 15px;
  overflow: hidden;
}
#man-vs-bayern {
  flex-direction: row-reverse;
}
.inner-card {
  padding: 1.2rem;
}
main a:hover {
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  color: aliceblue;
}
main img {
  height: 17rem;
  width: 25rem;
  box-shadow: 1px 1px 10px rgb(81, 81, 81);
  border-radius: 10px;
}
footer {
  background-color: rgb(0, 0, 0);
  margin: 0;
}
footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
}
footer ul li {
  margin: 1.3rem 2rem;
}
footer img {
  height: 1.7rem;
}

@media (max-width: 46rem) {
  header ul {
    display: none;
  }
  .arrow {
    display: flex;
  }
  .UCL-ground {
    height: 45rem;
  }
  .UCL-ground div {
    position: relative;
    top: 40%;
    width: 20rem;
    height: 14rem;
    border-radius: 16px;
  }
  .UCL-ground div h3 {
    font-family: "Firo sans", serif;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  .UCL-ground div a {
    font-family: "Dancing Script", cursive;
    color: rgb(221, 236, 255);
    font-size: 1.7rem;
    width: 10rem;
    margin: 0 auto;
  }
  main h1 {
    font-size: 2rem;
  }
  main ul {
    width: 23rem;
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
  }
  main ul li {
    font-size: 0.9rem;
    margin: 1.4rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
  }
  .inner-card {
    padding: 0.6rem;
  }
  #man-vs-bayern {
    flex-direction: column;
  }
  main img {
    height: 13rem;
    width: 20.5rem;
    box-shadow: 1px 1px 10px rgb(81, 81, 81);
    border-radius: 10px;
  }
  footer {
    background-color: rgb(0, 0, 0);
    margin-top: -1.5rem;
  }
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  footer ul li {
    text-align: center;
    margin: 2rem 1.5rem;
  }
  footer img {
    height: 1.9rem;
  }
  li:nth-of-type(4) {
    display: none;
  }
  li:nth-of-type(5) {
    display: none;
  }
  li:nth-of-type(6) {
    display: none;
  }
}
