body {
   font-family: "Poppins", sans-serif;
   font-size: 1.5rem;
   background-color: rgb(255, 200, 180);
   margin: 0;
   padding: 0;
}
li {
   list-style: none;
}
nav ul {
   display: flex;
   justify-content: right;
   width: 95%;
}
nav ul li {
   margin: 0 0.5rem;
   padding: 0.5rem;
   border-radius: 5px;
   color: rgb(135, 29, 29);
   transition: color 0.3s ease-out;
}
nav ul li h3 {
   margin: 0;
}
nav ul li:hover {
   color: rgb(183, 37, 37);
   cursor: pointer;
}
#adding-note {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   width: 60%;
   margin: 0 auto;
   padding: 10px;
}
#adding-note div {
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   box-shadow: 0px 0.8px 3px 0px rgb(109, 52, 52);
   border-radius: 6px;
}
#adding-title {
   color: rgb(135, 29, 29);
   font-size: 2.3rem;
   display: inline-block;
   width: 80%;
   box-sizing: border-box;
   margin: 2rem 1rem 0.5rem 1rem;
   padding: 0.4rem;
   background-color: transparent;
   border: none;
}
#adding-title:focus {
   border: none;
}
#adding-title:active {
   border: none;
}
#adding-textarea {
   color: rgb(135, 29, 29);
   font-size: 1.5rem;
   width: 80%;
   box-sizing: border-box;
   margin: 0.5rem 1rem 2rem 1rem;
   padding: 0.4rem;
   resize: vertical;
   background-color: transparent;
   border: none;
}

#adding-textarea:focus {
   border: 3px solid blue;
}

#adding-textarea:active {
   border: 3px solid blue;
}
#add-button {
   color: rgb(109, 52, 52);
   transition: color 0.3s ease-out;
   width: 7rem;
   font-size: 2rem;
   font-family: inherit;
   font-weight: bold;
   text-align: right;
   background-color: transparent;
   border: none;
}
#add-button:hover {
   cursor: pointer;
   color: rgb(183, 37, 37);
}

#display-note ul {
   display: flex;
   justify-content: center;
   text-align: left;
   flex-direction: column;
   width: 60%;
   margin: 0 auto;
   padding: 10px;
}

#display-note ul li {
   display: flex;
   flex-direction: row;
   justify-content: left;
   width: 100%;
   padding: 1rem 0;
   margin-bottom: 1rem;
   box-shadow: 0px 0.8px 3px 0px rgb(109, 52, 52);
   color: rgb(109, 52, 52);
   box-sizing: border-box;
   border-radius: 5px;
}
#display-note form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 2.6rem;
   margin: 1rem;
}

.display-checkbox {
   display: none;
   content: " ";
   width: 2.2rem;
   height: 2.2rem;
   border: 3px solid #333;
   background-color: rgb(183, 37, 37);
   border-radius: 8px;
}
