body {
  background-color: rgb(185, 203, 197);
  /*   background-color: red; */
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 32px;
}
header {
  background-color: rgb(163, 201, 188);
  margin: -35px -35px 0 -35px;
  padding: 110px;
}
img {
  /* box-shadow: 1px 2px 13px rgba(0, 3, 0, 0.5); */
  border-radius: 90px;
  margin: -122px 0 0 0;
  padding: 10px;
  height: 200px;
  width: 220px;
}
h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(60, 55, 93);
  font-size: 38px;
}
main {
  background-color: rgb(204, 204, 204);
  border: 3px solid rgb(49, 94, 94);
  color: rgb(20, 64, 79);
  width: 900px;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  padding: 5px 25px;
  text-align: center;
  font-family: "Firo san", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
main p {
  text-align: left;
}
footer {
  color: rgb(33, 28, 103);
  width: 900px;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  padding: 5px 25px;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
div {
  background-color: rgb(163, 201, 188);
  margin: 0 -35px -35px -35px;
}
.ref-header {
  font-size: 27px;
  text-decoration: underline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ref-para {
  text-indent: 30px;
}
#saif {
  color: rgb(89, 89, 113);
  padding: 0px 0 5px 0;
}
